*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin: 30px 0px;

}
h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.banner-bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
}
.color-name{
    color: orange;
}
.space{
    padding-top: 20px 0px;
}
#hire{
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
}
/*================ first section css==================*/
.second-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width p{
    padding-right: 150px;
}
.third-bg{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.shadow{
    box-shadow: 5px 10px 40px gray;
    margin-left: 5%;
    padding: 20px 20px;
}
#border-color2{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
#border-color1{
    border-image: linear-gradient(orange,tomato) 30;
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p{
    text-align: center;
}